<div ng-controller="GeneralWrapperCtrl" style="height: 100%;">
	<md-toolbar class="md-primary">
		<div layout="row" layout-align="space-between center">
			<div><img src="images/nike-logo.png" style="width: 50px; height: 50px; margin-left: 1rem;"></div> 
			<div>
				<h1 id='ToolbarLabel' class="md-toolbar-tools">
					{{generalLayoutData.viewTitle}}
				</h1> 
			</div>
			<div>
				<md-button id="LogOutBtn" ng-click="onLogOut()" style="width: 100px" ng-if="generalLayoutData.showLogOutBtn">
					<i class="fa fa-power-off awesomeFontIconWhite"></i>&nbsp;&nbsp;&nbsp;Log Out
				</md-button>           
			</div>  
		</div>	
		<div layout="row" layout-align="end center">
			<div style="font-size: 8pt; margin-right: 1rem;">version: {{version.version}} revision: {{version.revision}}</div>
		</div>
	</md-toolbar>
	<div ui-view style="height: calc(100% - 80px);"></div>	
</div>
